[Unit]
Description=Read Sensor and Shoot Camera app
After=network.target

[Service]
Type=oneshot
User=pinode3
WorkingDirectory=/home/pinode3
# デバッグ用のログ出力
StandardOutput=journal
StandardError=journal
# スクリプトの実行
ExecStart=/home/pinode3/PiNode3/pinode3/bin/python /home/pinode3/PiNode3/src/data_collector.py

# エラー時の再起動設定
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target